কুল $
গণ  $
জন  $
দল  $
দিগকে  $
দের  $
পাল  $
বর্গ  $
বৃন্দ  $
বাহিনী  $
মহল  $
যুথ  $
সঙ্ঘ  $
মন্ডল  $
মন্ডলী  $
শ্রেণী  $
সকল  $
সব  $
সমাজ  $
সাধারণ  $
আদি  $
আবলী  $
গাছ  $
গাছা  $
গাছি  $
গুচ্ছ  $
জাল  $
দাম  $
পুঞ্জ  $
মালা  $
মালা  $
রাজি  $
রাশি  $
গুলিন  $
আন  $
টা  $
টাই  $
টাও  $
টাকে  $
টাকেই  $
টাকেও  $
টি  $
টিই  $
টিও  $
টিতে  $
টিতেই   $
টিতেও  $
টে  $
টো  $
টু  $
টুকু  $
খানি  $
খানা  $
খানেক  $
সমুদয়  $
নিকর  $

নিচয়  $
বলি  $
দের  $
এরা  $
দিগ  $
দিগের  $
দিগে  $
দে  $
এদের  $
সমূহ  $
তা  $
পাটি  $
টাক  $
টুকু  $
গোটা  $
পাতি  $
রা  $
গুলি  $
গুলা  $
গুলো  $
সমূহ  $
সমস্ত  $
অন্ত  $
া  $
াই  $
াকু  $
ান  $
ানো  $
াল  $
ালু  $
ী  $
িয়ে  $
ীয়  $
ীষ্ঠ  $
-ই  $
িতে  $
িলে  $
িয়া  $
তে  $
িয়ে  $
লে  $
াতে  $
ের  $
ওয়া  $
শীল  $
শীলতা  $
লি  $
রু  $
োয়া  $
নে  $
নী  $
তি  $
াটে  $
চে  $
োয়  $
ো  $
ুয়া  $
ুড়ে  $
হীন  $
স্থ  $
হর  $
সহ  $
সই  $
ালী  $
মান  $
ময়   $
মতী  $
ভূত-  $
ভুক  $
বিহীন  $
বিধ  $
বিদ  $
বিৎ  $
বান  $
বাজ  $
ধর  $
বন্ত  $
বৎ  $
বতী  $
প্রদ  $
পুত  $
পাতি  $
নিভ  $
ধর  $
দার  $
দত্ত  $
দ  $
তর  $
তুতো  $
তম  $
তব্য  $
জ্ঞ  $
জাদা  $
চর  $
গত  $
খোর  $
ক্ষম  $
কার  $
কল্প  $
কর  $
লা  $
অলা  $
ন্ত  $
ইতে  $
তে  $
ইয়া  $
 এ  $
য়া  $
য়ে  $
চ্ছে  $
চ্ছি  $
ইল  $
ল  $
ইত  $
ত  $
ইব  $
ব  $
তাম  $
েই  $
েও  $
েছেই  $
ছিলাম  $
েইছি  $
েওছি  $
েইছিলাম  $
ছে  $
ছেন  $
লাম  $
লুম  $
লাম  $
লি  $
লে  $
লেন  $
ল  $
ছিলাম  $
ছিলুম  $
ছিলি  $
েছিলে  $
েছিলেন  $
েছিল  $
েছিলাম  $
েছিলুম  $
েছিলি  $
ব  $
বি  $
বে  $
বেন  $
বে  $
তাম  $
তুম  $
তিস  $
তে  $
তেন  $
ত  $
রা  $
েরা  $
রা  $
েরা  $
গুলো  $
টি  $
পাল  $
যূথ  $
দের  $
টা  $
গোটা  $
খানা  $
টাক  $
টুকু  $
তা  $
পাটি  $
গুলিন  $
টাই  $
টাকে  $
টাকেই  $
টাকেও  $
টিও  $
দের  $
টিতে  $
টিতেই  $
টে  $
টো  $
টুকু  $
খানা  $
খানি  $
খানেক  $
ই  $
পাতি  $
সমূহ  $
সমস্ত  $
কুল  $
গণ  $
জন  $
দল  $
দের  $
বর্গ  $
পাল  $
বৃন্দ  $
বাহিনী  $
মহল  $
সঙ্ঘ  $
শ্রেণী  $
মন্ডলী  $
 সকল  $
সাধারণ  $
াদি  $
াবলী  $
গাছা  $
গুচ্ছ  $
জাল  $
দাম  $
পুঞ্জ  $
মালা  $
রাজি  $
রাশি  $
আন  $















